{% extends 'base.html.twig' %}

{% block title %}Homepage {% endblock %}

{% block body %}
    <h1>Startpage</h1>
    <p>This is the home</p>

    <p>Try to <a href="{{ path('app_login') }}">login</a></p>
{% endblock %}
